<%- include('partials/head2.ejs') %>

<div class="buttona">
    <button id="popup-btn"><span>Show popup</span></button>
</div>
<div id="popup" class="popup">
  <div class="content">
    <form id="ometria-tc-subscribe-form" action="https://api.ometria.com/forms/signup" method="post">
        <input type="hidden" name="__form_id" value="fc1b7571419c68be1aa983757e981218" />
                    <input type="hidden" name="email" value="" autocomplete="off" />
                    <div style="display:none !important">
                        <input name="__email" type="email" value="" autocomplete="off" />
                    </div>
                    <input name="@account" type="hidden" value="f7af012b9a5822ff" />
                    <input name="@return_url" type="hidden" value="" />
                    <input name="@subscription_status" type="hidden" value="SUBSCRIBED" />
    </form>
                    <!-- Form elements go here: Style as you wish -->
    <div class="container">
      <div class="circles">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
 
      </div>
      
      <span id="popup-close-btn" class="closebtn">x</span>
      
      <img src="img/tc-subscribe-2.jpg" alt="Subscribe">
      
      <div class="subscribe">
        <h1>Join our <span>COPYCAT FAMILY</span></h1>
        <p>Subscribe to our newsletter to get <b>10% off</b> your first purchase. We'll keep you posted with <b>the latest news and exclusive offers</b></p>
        <form>
          <input type="email" placeholder="EMAIL ADDRESS">
          <input type="submit" value="SIGN UP">
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('partials/foot2.ejs') %>