<%- include('partials/head2.ejs', {sms: true}) %>

<h2>Copycat Popup Forms Preview</h2>

<div style="display: inline; margin-top: 10px;">
<button id="subscribe-btn">Start the popup journey</button>
</div>

<!-- start SUbscribe form-->
<div id="popup-container" class="popup">
  <div class="content">
<!-- start slide 1-->
<div id="subscribe-popup"  style="background-color: #000;">
      <!-- Ometria AJAX forms-->
      <script src="//cdn.ometria.com/tags/f7af012b9a5822ff.js"></script>
       <form id="ometria-tc-subscribe-form" action="https://api.ometria.com/forms/signup" method="post">
        <input type="hidden" name="__form_id" value="914da260f9b6543487067473b43d6b03" />
        <input type="hidden" name="email" value="" autocomplete="off" />
        <div style="display:none !important">
          <input name="__email" type="email" value="" autocomplete="off" />
        </div>
        <input name="@account" type="hidden" value="f7af012b9a5822ff" />
        <input name="@return_url" type="hidden" value="" />
        <input name="@subscription_status" type="hidden" value="SUBSCRIBED" />

                    <!-- Form elements go here: Style as you wish -->
    <div class="container">
      
      
      <div class="subscribe sliding-text" style="padding: 50px 0px 10px 0px;">
        <center><img src="img/rsz_mlogo.jpg" style="margin-top: 55px; height: 113px;"/></center>
        <div style="border-bottom: 1px solid #fff; text-align: start !important; padding-bottom: 20px; margin-top: 20px;">
        <h6 style="color: #fff; margin-top: 10px;">Thank you being part of the <span>Copycat Family</span></h6>
        <p style="color: #fff; line-height: 20px;">Please take few moments to share a few details with us to enjoy 10% off your first purchase AND a special treat on your birthday &#x1F680;</p>
        </div>
        <div style="border-bottom: 1px solid #fff; text-align: start; margin-top: 20px; margin-bottom: 20px; padding-bottom: 40px;">
        <p style="color: #fff; ">Email address:</p>
        <input type="email" id="subscribe-email" name ="ue" placeholder="Email address">
        <p style="color: red; font-weight: bold; display: none;" id="sfe">Please fill in your email address</p>
        <p style="color: #fff; margin-top: 10px;">Date of birth:</p>
          <input type="date" id="subscribe-bday" name ="date_of_birth" placeholder="Date of birth">
          <p style="color: red; font-weight: bold; display: none;" id="sfe">Please fill in your email address</p>
        </div>
        <div style="margin-top: 20px; margin-bottom: 20px; padding-bottom: 40px;"">
          <input id="subscribe-form-submit" type="submit" style="width: 95% !important;" value="Submit">
        </div>
         
          
        
      </div>
    </div>
  </form>
</div>
<!-- end of slide 1-->


</div>
</div>
<%- include('partials/foot2.ejs') %>