<%- include('partials/head2.ejs', {sms: true}) %>

<h2>Copycat Popup Forms Preview</h2>

<div style="display: inline; margin-top: 10px;">
<button id="subscribe-btn">Start the popup journey</button>
</div>

<!-- start SUbscribe form--> 
<div class="overlay" id="ometria-modal">
  <a class="cancel" href="#"></a>
  <div class="modal">
<form id="ometria-tc-subscribe-form" action="https://api.ometria.com/forms/signup" method="post">
  <input type="hidden" name="__form_id" value="914da260f9b6543487067473b43d6b03" />
  <input type="hidden" name="email" value="" autocomplete="off" />
  <div style="display:none !important">
    <input name="__email" type="email" value="" autocomplete="off" />
  </div>
  <input name="@account" type="hidden" value="f7af012b9a5822ff" />
  <input name="@return_url" type="hidden" value="" />
  <input name="@subscription_status" type="hidden" value="SUBSCRIBED" />
 

 <div class="npopup-container">
   <div class="npopup-logo m-auto"> nhjhjhj</div>
 
   <p class="npopup-title-text m-auto">Thank you for being part of the Copycat family</p>
   <p class="npopup-subtitle-text m-auto">Please take a moment to share a few details with us to enjoy 10% off your first purchase. You can also look forward to a special treat on your birthday &#x1F381;.</p>
 
   <p class="npopup-input-label" id="email-label">Email address</p>
   <input class="npopup-input m-auto" type="text" name="ue" id="subscribe-email" style="color: #fff;" placeholder="e.g example@example.com"/>
   <p class="m-auto" style="color: red; font-weight: bold; display: none;" id="sfe">Please fill in your email address</p>
 
   <p class="npopup-input-label" id="bday-label" style="margin-top: 10px;">Birth date</p>
   <input class="npopup-input" type="date" name="date_of_birth" id="bday-input" style="color: #fff;" placeholder=""/>
 
   <p class="npopup-input-label" id="phone-label" style="margin-top: 10px;">Phone number</p>
   <input class="npopup-input" type="text" name="phone_number" id="subscribe-phone" style="color: #fff;" placeholder="e.g 07911123456"/>
   <p style="color: red; font-weight: bold; display: none;" id="sfp">Please fill in your phone number</p>
   <button class="npopup-submit" id="subscribe-form-submit" style="margin-top: 40px;">SUBMIT</button>
 </div>
</div>
 </form>
 </div>
<%- include('partials/foot2.ejs') %>
