<form action="https://api.ometria.com/forms/signup" method="post">
    <input type="hidden" name="__form_id" value="914da260f9b6543487067473b43d6b03" />
    <input type="hidden" name="email" value="" autocomplete="off" />
    <div style="display:none !important">
        <input name="__email" type="email" value="" autocomplete="off" />
    </div>
    <input name="@account" type="hidden" value="f7af012b9a5822ff" />
    <input name="@return_url" type="hidden" value="" />
    <input name="@subscription_status" type="hidden" value="SUBSCRIBED" />
    <!-- Form elements go here: Style as you wish -->
    <table>
        <tr>
            <th>Email address</th>
            <td>
                <input name="ue" type="text" value="" />
            </td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td>
                <input name="phone_number" type="text" value="" />
            </td>
        </tr>
        <tr>
            <th>DOB</th>
            <td>
                <input name="date_of_birth" type="date" value="" />
            </td>
        </tr>
        <tr>
            <th>Sign Up Source</th>
            <td>
                <input name="properties.sign_up_source" type="hidden" value="Subscription Form" />
            </td>
        </tr>
    </table>
    <input type="submit" value="Submit form" style="padding: 5px 20px;" name="sssubmit" />
    <!-- End of form elements -->
</form>
Collapse