<%- include('partials/head.ejs') %>

<div class="container-fluid">
   <div class="row">
      <div class="col-md-12">
         <h2 class="text-success text-center mb-5">Customers</h2>
         <table class="table table-striped">
             <thead>
                 <tr>
                     <th>Customer name</th>
                     <th>Email address</th>
                 </tr>
             </thead>
             <tbody>

             </tbody>
         </table>
     </div>
   </div>
</div>

<%- include('partials/foot.ejs') %>
