<%- include('partials/head.ejs') %>

<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<h2 class="text-success text-center mb-5">Shopify App for Copycat Fragrances</h2>
<p>Login successful. Session details are available in the console log.</p><br>
</div>
</div>
</div>

<%- include('partials/foot.ejs') %>
