<%- include('partials/head.ejs') %>
<script>
    let pv = [];
</script>
<div class="container-fluid">
<div class="row">
<div class="col-md-12">
<h2 class="text-success text-center mb-5">
    Ometria orders 2
    <a class="btn btn-primary" href="javascript:void(0)" id="updater">Update customers</a>
</h2>

</div>
</div>
</div>

<%- include('partials/foot.ejs') %>
