.npopupp-container{
  /*  position: absolute; */
width: 600px;
height: 620px;
background: #020202;
border-radius: 10px;
}

.m-auto{
    margin: auto;
}

.npopup-logo{
    /*position: absolute;*/
width: 127px;
height: 65px;
/*left: 236px; */
/*top: 20px;*/
z-index: 5;
color: #020202;
background: url(../img/rsz_mlogo.jpg);
background-size: cover;
}

.npopup-close{
/*position: absolute;*/
width: 30px;
height: 30px;
/*left: 530px;
top: 40px;*/
float: right;
margin-top: 20px;
color: #fff;
text-decoration: none;
font-family: Montserrat;
}

.npopup-close:hover {
    cursor: pointer;
    color: #cca46c;
  }

.npopup-title-text{
/*position: absolute;
left: 40px;
top: 105px;*/
width: 514px;
height: 26px;

/* Title text */

font-family: Montserrat;
font-style: normal;
font-weight: bolder;
font-size: 21px;
line-height: 26px;
/* identical to box height */

display: flex;
align-items: center;

color: #FFFFFF;
}

.npopup-subtitle-text{
/*
    position: absolute;
    left: 40px;
top: 141px;
*/
width: 527px;
height: 30px;
margin-top: 20px;
/* Subtitle text */

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
display: flex;
align-items: center;

color: #FFFFFF;
}

::-webkit-calendar-picker-indicator {
    filter: invert(1);
}

.npopup-input-label{
    /*position: absolute;*/

/* Subtitle text */

font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 15px;
/* identical to box height */

display: flex;
align-items: center;

color: #FFFFFF;

}

.npopup-input{
    width: 100%;
    height: 50px;
background: #222121;
border: 2px solid #4E4646;
box-sizing: border-box;
border-radius: 10px;
}

#email-label{
    margin-top: 20px;
    width: 86px;
    height: 15px;
    /*left: 40px;
    top: 191px;*/
}



.npopup-submit{
/*
position: absolute;
left: 40px;
top: 500px;
*/
width: 100%;
height: 50px;
color: #fff;
background: #FFB3C7 !important;
border-radius: 10px !important;
}