@font-face {
  font-family: "Lexend Tera";
  src: url("../fonts/LexendTera-VariableFont_wght.ttf") format("ttf"),
}

body{
  font-family: 'Lexend Tera', sans-serif;

}

a.popup-link{
  text-decoration:none;
}

#popup-btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#popup-btn button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: inherit;
  background-color: #cca46c;
  border: 0;
  padding: 15px 25px;
  color: #fff;
  text-transform: uppercase;
  font-size: 21px;
  letter-spacing: 1px;
  width: 200px;
  overflow: hidden;
  outline: 0;
  transition: all 0.4s;
  visibility: visible;
  opacity: 1;
  font-weight: bold;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.6);
}
#popup-btn button:hover {
  cursor: pointer;
  background-color:#ffd
}
#popup-btn button span {
  opacity: 1;
}
#popup-btn.clicked button {
  visibility: hidden;
  opacity: 0;
}
.sliding-text{
  opacity: 1;
  transition: 1s;
  transition-delay: 0.3s;
  transform: translateX(0px);
}
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  overflow-y: auto;
  box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s;
  z-index: 10;
  background-color: #ffffff;
  width: 100%;
  height: 100%;
}
 
.popup .content {
  width: 100%;
  max-width: 700px;
  overflow: hidden;
  position: relative;
  min-height: 100vh;
}
.popup .content .container {
  padding: 20px 10px 50px;
}
 
.popup .content .closebtn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  color: #000;
  transition: all 0.4s;
  z-index: 15;
}
.popup .content .closebtn:hover {
  cursor: pointer;
  color: #cca46c;
}
.popup .content .circles .circle {
  position: absolute;
  border-radius: 100%;
  z-index: 11;
}
.popup .content .circles .circle:nth-of-type(1) {
  top: -80px;
  right: -80px;
  width: 160px;
  height: 160px;
  background-color: #ffbf00;
}
.popup .content .circles .circle:nth-of-type(2) {
  bottom: -120px;
  left: -120px;
  width: 240px;
  height: 240px;
  background-color: #cca46c;
}
 
.popup .content .circles .circle:nth-of-type(3) {
  top: -50px;
  left: -50px;
  width: 100px;
  height: 100px;
  background-color: #333;
}
.popup .content .title h1 {
  text-align: center;
  color: #cca46c;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 2.8rem;
  letter-spacing: 0.05rem;
}
.popup .content img {
  width: 100%;
  max-width: 440px;
  display: inline-block;
  /*margin: 30px 0 20px 0;*/
  opacity: 0;
  transform: translateX(-60px);
  transition: 0.2s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
 
.popup .content .subscribe h6 {
  font-size: 1.5rem;
  color: #3e4146;
  line-height: 130%;
  letter-spacing: 0.07rem;
  margin-bottom: 10px;
}

/**
.popup .content .subscribe h1 span {
  color: #cca46c;
}
**/

.flex-container{
    resize: horizontal;
    overflow: hidden;
    display: flex;
    width: "100%";
    height: "100%";
}

.flex-item{
    margin: 1em;
    padding: 0.5em;
    width: 110px;
    min-width: 0;
    /*background-color: #1B5385;*/
    color: white;
    font-family: monospace;
    font-size: 13px;
}

.flex-auto{
  flex: auto;
}

.white-text{
  color: #fff !important;
}

.popup .content .subscribe p {
    margin-bottom: 10px;
}
.popup .content .subscribe form {
  overflow: hidden;
}
.popup .content .subscribe input {
  /**
  float: left;**/
  width: 80% !important;
  padding: 15px 20px;
  text-align: center;
  font-family: inherit;
  font-size: 1.1rem;
  letter-spacing: 0.05rem;
  outline: 0;
}
div.iti{
  width: 100% !important;
}
.popup .content .subscribe input[type=email], .popup .content .subscribe input[type=text] {
  margin-bottom: 15px;
  border: 1px solid #bec1c5;
  transition: all 0.4s;
}
 
.popup .content .subscribe input[type=email]:focus, .popup .content .subscribe input[type=text]:focus {
  border-color: #3e4146;
}
.popup .content .subscribe input[type=submit] {
  background-color: #cca46c;
  color: #ffffff;
  margin-top: 10px;
  border: 1px solid #cca46c;
  transition: all 0.4s;
}
 
.popup .content .subscribe input[type=submit]:hover {
  cursor: pointer;
  background-color: #ffbf00;
  border-color:#ffbf00
}
.popup.open {
  visibility: visible;
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
.popup.open img {
  opacity: 1;
  transition: 1s;
  transition-delay: 0.3s;
  transform: translateX(0px);
}
@media (min-width: 568px) {
  .popup .content {
    min-height: inherit;
  }
  .popup .content .container {
    /*padding: 50px 20px 80px;*/
  }
}
 
/**@media (min-width: 768px) {
  .popup .content .container {
    padding: 70px 0px 90px;
    max-width: 520px;
    margin: 0 auto;
  }
  
  .popup .content .subscribe input[type=email], .popup .content .subscribe input[type=text] {
      margin-bottom: 0px;
      width: 90%;
      border-right: 1px solid #bec1c5;
    }
  .popup .content .subscribe input[type=submit] {
      width: 100%;
    }
  
}**/

@media (min-width: 768px) {
  .popup .content .circles .circle:nth-of-type(1) {
    top: -190px;
    right: -190px;
    width: 380px;
    height: 380px;

  }


  .popup .content .closebtn {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    color: #000;
    transition: all 0.4s;
    z-index: 15;
  }
  .popup .content .closebtn:hover {
    cursor: pointer;
    color: #cca46c;
  }

  .popup {
    width: calc(100% - 50px);
    height: auto;
    max-width: 700px;
  }

  .popup .content .container {
    /*max-width: 520px;*/
    margin: 0 auto;
  }
}